* {
  box-sizing: border-box;
}

.input {
	margin: auto;
}

body {
	background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #4BC0C8, #C779D0, #FEAC5E);
    background: -o-linear-gradient(right, #4BC0C8, #C779D0, #FEAC5E);
    background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  
/* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, 
Chrome 26+, Opera 12+, Safari 7+ */
	padding: 60px 0 0;
	margin: 0;
	font-size: 18px;
	font-family: Roboto, Sans-Serif; 
}

.not-authorized {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  background-color: #F1F3F5;      
  border-radius: 3px;	
}

.not-authorized h1 {
	text-align: center;
	font-family: 'Special Elite', cursive;
  margin-top: 125px;
}

.auth-login {
	display: block;
	text-align: center;
	margin: auto;
  border: 0;
  background: #81D4FA;
  padding: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}

.auth-login:focus {
	outline: 0;
}

fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

.logo {
	display: block;
	width: auto;
	height: 35px;
	margin: 0 auto 30px;
}

.register-form, .login-form {
	width: 400px;
	padding: 30px;
	border-radius: 3px;
	background: white;
	margin: 50px auto;
	margin-bottom: 20px;
}

.register-form legend, .login-form legend {
	width: 100%;
	line-height: 38px;
	font-size: 35px;
	font-weight: 300;
	color: #565656;
	text-align: center;
	letter-spacing: 0;
	margin: 0 auto 45px;
}

input[type="firstName"],
input[type="lastName"],
input[type="email"],
input[type="username"],
input[type="password"],
input[type="submit"] {
	display: block;
	width: 100%;
	height: auto;
	font-size: 18px;
	text-align: left;
	padding: 15px;
	border: 2px solid #e7e7e7;
	border-radius: 3px;
	background: #fcfcfc;
	margin 10px auto 20px;
	transition: opacity 0.4s;
}

button[type="submit"] {
	height: auto;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	color: white;
	background: #81D4FA;
	border: 0;
	cursor: pointer;
	margin-bottom: 0;
	margin-top: 8px;
	margin-left: 35%;
	margin-right: 30%;
}

/* Firefox focus fix */
input[type="firstName"]: focus,
input[type="lastName"]: focus,
input[type="email"]: focus,
input[type="username"]: focus,
input[type="password"]: focus,
input[type="submit"]: focus {
	/* restore focus behavior like Firefox */
	outline: auto 2px #81D4FA;
	outline: auto 5px -webkit-focus-ring-color;
	box-shadow: 0;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
	background-color: #D6DCEE;
	-webkit-transition: background 0.1s;
	-moz-transition: background 0.1s;
	-o-transition: background 0.1s;
}

.register-form p, .login-form p {
	font-size: 16px;
	text-align: center;
	margin: 10px 0 0;
	color: #D7CCC8;
}

.register-form a, .login-form a {
	color: #D7CCC8;
	text-decoration: none;
    border-bottom: 1px solid #bbb;
}

.register-form a:hover, .login-form a:hover {
	border-color: #D7CCC8;
	color: 777;
}

.unauth {
	display: inline-block;
	text-align: center;
}

footer {
	text-align: center;
	color: white;
	margin: 10px auto;
	font-weight: 600;
	border: 0;
	padding: 0;
}

.footer a {
	color: white;
}

.footer a:hover {
	color: #E7F1F9;
}

.description {
	display: inline-block;
	width: 50%;
	height: 25%;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #AEB1BB;
	margin: 5px auto;
	margin-left: 25%;
}

#map {
  height: 300px;
  width: 500px;
  margin: auto;
  border: 1px solid black;
}

.location-container {
	position: relative;
	float: right;
	width: 250px;
	height: 200px;
	background-color: #D6DCEE;
	margin: 5px 5px 5px 5px;
	border: 2px solid black;
}

.location-container.enlarge {
	width: 450px;
	height: 200px;
}

.display-info {
	padding: 2px;
}

.list-info {
	list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-container {
  padding: 50px;
}

.delete-location {
	background-color: #D6DCEE;
	border: none;
	color: #000000;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px 2px 2px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 75px;
	outline: 0;
}

.delete-location:hover {
	background-color: #AEB1BB;
}

.input-return {
	text-align: left;
	margin: 6px 6px 6px;
}

.button-logout {
	text-align: right;
	margin: 6px 0px 6px 6px;	
}

.input-return a, .button-logout a, .auth-login a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

.button-add-more, .logout {
	background-color: #AEB1BB;
}

.input {
  display: inline-block;
  text-align: center;
}

.add-bathroom-form {
  margin: auto;
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.gender-type, .city, .name, .street, .state, .zipcode {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-bathroom-btn {
  text-align: center;d
  width: 300px;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-bathroom-btn:hover {
	background-color: #45a049;
}

/* 
Responsive Design CSS Below
*/

@media screen and (max-width: 300px) {
	.description, .register-form, .footer, .location-container, .add-bathroom  {
		padding: 3em 0;
	}

	.location-container {
		min-width: 50%;
	}
}

